.body-bg {
    background-color: #E6CCBE;
}

.content-bg {
    background-color: #32021F;
}

ol {
    list-style-position: inside;
    list-style-type: upper-alpha;
}

.question-font {
    font-weight: bold;
}

